<launch>
<arg name="multi_robot"                     default="robot_1"/>
    <group ns="$(arg multi_robot)_1">
        <node pkg="swram_robot_mapping_tutorial" type="cmd_goal_maharanovis" name="cmd_goal_maharanovis" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="GENTENSIKIITI"      value="0.6"/>
            <param name="HANISIKIITI"      value="5.0"/>
        </node>
        <node pkg="swram_robot_mapping_tutorial" type="cmd_vel" name="cmd_vel" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="goal_torelanse"      value="0.10"/>
            <param name="goal_torelanse_2"      value="0.05"/>
            <param name="attractive_gain"      value="0.2"/>
            <param name="repulsive_gain"      value="0.45"/>
            <param name="repulsive_range"      value="0.6"/>
            <param name="grid_size"      value="0.10"/>
            <param name="grid_resolution"      value="0.10"/>
        </node>
    </group>
        
    <group ns="$(arg multi_robot)_2">
        <node pkg="swram_robot_mapping_tutorial" type="cmd_goal_maharanovis" name="cmd_goal_maharanovis" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="GENTENSIKIITI"      value="1.5"/>
            <param name="HANISIKIITI"      value="2.0"/>
        </node>
        <node pkg="swram_robot_mapping_tutorial" type="cmd_vel" name="cmd_vel" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="goal_torelanse"      value="0.10"/>
            <param name="goal_torelanse_2"      value="0.05"/>
            <param name="attractive_gain"      value="0.2"/>
            <param name="repulsive_gain"      value="0.5"/>
            <param name="repulsive_range"      value="0.6"/>
            <param name="grid_size"      value="0.10"/>
            <param name="grid_resolution"      value="0.10"/>
        </node>
    </group>
        
    <group ns="$(arg multi_robot)_3">
        <node pkg="swram_robot_mapping_tutorial" type="cmd_goal_maharanovis" name="cmd_goal_maharanovis" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="GENTENSIKIITI"      value="1.5"/>
            <param name="HANISIKIITI"      value="2.0"/>
        </node>
        <node pkg="swram_robot_mapping_tutorial" type="cmd_vel" name="cmd_vel" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="goal_torelanse"      value="0.10"/>
            <param name="goal_torelanse_2"      value="0.05"/>
            <param name="attractive_gain"      value="0.2"/>
            <param name="repulsive_gain"      value="0.45"/>
            <param name="repulsive_range"      value="0.6"/>
            <param name="grid_size"      value="0.10"/>
            <param name="grid_resolution"      value="0.10"/>
        </node>
    </group>
        
    <group ns="$(arg multi_robot)_4">
        <node pkg="swram_robot_mapping_tutorial" type="cmd_goal_maharanovis" name="cmd_goal_maharanovis" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="GENTENSIKIITI"      value="1.5"/>
            <param name="HANISIKIITI"      value="2.0"/>
        </node>
        <node pkg="swram_robot_mapping_tutorial" type="cmd_vel" name="cmd_vel" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="goal_torelanse"      value="0.10"/>
            <param name="goal_torelanse_2"      value="0.05"/>
            <param name="attractive_gain"      value="0.2"/>
            <param name="repulsive_gain"      value="0.45"/>
            <param name="repulsive_range"      value="0.6"/>
            <param name="grid_size"      value="0.10"/>
            <param name="grid_resolution"      value="0.10"/>
        </node>
    </group>
        
    <!-- <group ns="$(arg multi_robot)_5">
        <node pkg="swram_robot_mapping_tutorial" type="cmd_goal_maharanovis" name="cmd_goal_maharanovis" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="GENTENSIKIITI"      value="1.5"/>
            <param name="HANISIKIITI"      value="2.0"/>
        </node>
        <node pkg="swram_robot_mapping_tutorial" type="cmd_vel" name="cmd_vel" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="goal_torelanse"      value="0.10"/>
            <param name="goal_torelanse_2"      value="0.05"/>
            <param name="attractive_gain"      value="0.2"/>
            <param name="repulsive_gain"      value="0.25"/>
            <param name="repulsive_range"      value="0.6"/>
            <param name="grid_size"      value="0.10"/>
            <param name="grid_resolution"      value="0.10"/>
        </node>
    </group> -->
        
    <!-- <group ns="$(arg multi_robot)_6">
        <node pkg="swram_robot_mapping_tutorial" type="cmd_goal_maharanovis" name="cmd_goal_maharanovis" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="GENTENSIKIITI"      value="1.5"/>
            <param name="HANISIKIITI"      value="2.0"/>
        </node>
        <node pkg="swram_robot_mapping_tutorial" type="cmd_vel" name="cmd_vel" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="goal_torelanse"      value="0.10"/>
            <param name="goal_torelanse_2"      value="0.05"/>
            <param name="attractive_gain"      value="0.2"/>
            <param name="repulsive_gain"      value="0.45"/>
            <param name="repulsive_range"      value="0.6"/>
            <param name="grid_size"      value="0.10"/>
            <param name="grid_resolution"      value="0.10"/>
        </node>
    </group>
        
    <group ns="$(arg multi_robot)_7">
        <node pkg="swram_robot_mapping_tutorial" type="cmd_goal_maharanovis" name="cmd_goal_maharanovis" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="GENTENSIKIITI"      value="1.5"/>
            <param name="HANISIKIITI"      value="2.0"/>
        </node>
        <node pkg="swram_robot_mapping_tutorial" type="cmd_vel" name="cmd_vel" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="goal_torelanse"      value="0.10"/>
            <param name="goal_torelanse_2"      value="0.05"/>
            <param name="attractive_gain"      value="0.2"/>
            <param name="repulsive_gain"      value="0.45"/>
            <param name="repulsive_range"      value="0.6"/>
            <param name="grid_size"      value="0.10"/>
            <param name="grid_resolution"      value="0.10"/>
        </node>
    </group>
        
    <group ns="$(arg multi_robot)_8">
        <node pkg="swram_robot_mapping_tutorial" type="cmd_goal_maharanovis" name="cmd_goal_maharanovis" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="GENTENSIKIITI"      value="1.5"/>
            <param name="HANISIKIITI"      value="2.0"/>
        </node>
        <node pkg="swram_robot_mapping_tutorial" type="cmd_vel" name="cmd_vel" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="goal_torelanse"      value="0.10"/>
            <param name="goal_torelanse_2"      value="0.05"/>
            <param name="attractive_gain"      value="0.2"/>
            <param name="repulsive_gain"      value="0.45"/>
            <param name="repulsive_range"      value="0.6"/>
            <param name="grid_size"      value="0.10"/>
            <param name="grid_resolution"      value="0.10"/>
        </node>
    </group> -->
        
</launch>