<launch>
  <arg name="rviz"                            default="true"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="tf_prefix" default="main"/>
  <arg name="multi_robot"                     default="main"/>
  <arg name="laser_visual" default="false"/>
  <arg name="imu_visual" default="false"/>
  <arg name="camera_visual" default="false"/>
  <arg name="cmd_vel_topic" default="$(arg multi_robot)/cmd_vel" />
  <arg name="odom_topic" default="$(arg multi_robot)/odom" />
  <arg name="move_forward_only" default="false"/>
  <arg name="use_rviz"                        default="$(arg rviz)"/>

  <group ns="$(arg multi_robot)">

    <include file="$(find swram_robot_mapping_tutorial)/launch/sinki/newrviz.launch">
      <arg name="multi_robot"                   value="$(arg multi_robot)"/>
      <arg name="use_rviz"                      value="$(arg use_rviz)"/>
    </include>

  <include file="$(find swram_robot_mapping_tutorial)/launch/mapping.launch">
      <arg name="tf_prefix"       value="$(arg multi_robot)"/>
  </include>

  <!-- <node pkg="swram_robot_mapping_tutorial" type="cmd_vel" name="cmd_vel" output="screen">
            <param name="FRAME/ROBOT_BASE"      value="map"/>
            <param name="goal_torelanse"      value="0.30"/>
            <param name="goal_torelanse_2"      value="0.05"/>
            <param name="attractive_gain"      value="0.3"/>
            <param name="repulsive_gain"      value="0.1"/>
            <param name="repulsive_range"      value="1.0"/>
            <param name="grid_size"      value="0.10"/>
            <param name="grid_resolution"      value="0.10"/>
        </node> -->

  <!-- <include file="$(find swram_robot_mapping_tutorial)/launch/sinki/rtabmap_demo.launch">
      <arg name="tf_prefix"       value="$(arg multi_robot)"/>
  </include> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_burger.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_burger.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load" />
      <rosparam file="$(find swram_robot_mapping_tutorial)/param/dwa_local_planner_params_burger.yaml" command="load" />
      <param name="global_costmap/global_frame" value="map" />
      <param name="global_costmap/robot_base_frame" value="$(arg tf_prefix)/base_link" />
      <param name="local_costmap/laser_scan_sensor/sensor_frame" value="$(arg tf_prefix)/base_scan" />
      <param name="local_costmap/laser_scan_sensor/topic" value="$(arg tf_prefix)/scan" />
      <param name="local_costmap/global_frame" value="$(arg tf_prefix)/odom" />
      <param name="local_costmap/robot_base_frame" value="$(arg tf_prefix)/base_link" />
      <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
      <remap from="cmd_vel"                             to="cmd_vel"/>
      <remap from="odom"                                to="odom"/>
      <remap from="move_base_simple/goal"               to="/$(arg tf_prefix)/move_base_simple/goal"/>
    </node>  
  
  <!-- <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
  <param name="robot_base_frame" value="$(arg multi_robot)/base_link"/>
  <param name="costmap_topic" value="map"/>
  <param name="costmap_updates_topic" value="map_updates"/>
  <param name="visualize" value="true"/>
  <param name="planner_frequency" value="0.33"/>
  <param name="progress_timeout" value="30.0"/>
  <param name="potential_scale" value="3.0"/>
  <param name="orientation_scale" value="0.0"/>
  <param name="gain_scale" value="1.0"/>
  <param name="transform_tolerance" value="0.3"/>
  <param name="min_frontier_size" value="0.75"/>
  </node> -->

  <!-- <include file="$(find swram_robot_mapping_tutorial)/launch/test2.launch">
  </include> -->

  </group>
  

</launch>
