<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find swram_robot_mapping_tutorial)/launch/turtlebot3_spawnvol1.launch">
      <arg name="tf_prefix"       value="robot_1"/>
      <arg name="model"           value="waffle"/>
      <arg name="x_pos"           value="6"/>
      <arg name="y_pos"           value="0"/>
      <arg name="z_pos"           value="0.01"/>
      <arg name="yaw"             value="0.00"/>
  </include>

  <include file="$(find swram_robot_mapping_tutorial)/launch/turtlebot3_spawnvol1.launch">
      <arg name="tf_prefix"       value="robot_2"/>
      <arg name="model"           value="waffle"/>
      <arg name="x_pos"           value="0.0"/>
      <arg name="y_pos"           value="0.0"/>
      <arg name="z_pos"           value="0.1"/>
      <arg name="yaw"             value="0.0"/>
  </include>

</launch>