
  <launch>

  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="tf_prefix" default="robot_1"/>
  <arg name="laser_visual" default="false"/>
  <arg name="imu_visual" default="false"/>
  <arg name="camera_visual" default="false"/>
  <arg name="cmd_vel_topic" default="cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>
<!--   
  <group if="$(eval tf_prefix=='')">
    <param name="tf_prefix" value="$(arg tf_prefix)" /> -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load" />
      <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_$(arg model).yaml" command="load" />
      <param name="global_costmap/global_frame" value="map" />
      <param name="global_costmap/robot_base_frame" value="$(arg tf_prefix)/base_link" />
      <param name="local_costmap/laser_scan_sensor/sensor_frame" value="$(arg tf_prefix)/base_scan" />
      <param name="local_costmap/laser_scan_sensor/topic" value="$(arg tf_prefix)/scan" />
      <param name="local_costmap/global_frame" value="$(arg tf_prefix)/odom" />
      <param name="local_costmap/robot_base_frame" value="$(arg tf_prefix)/base_link" />
      <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
      <remap from="cmd_vel"                             to="cmd_vel"/>
      <remap from="odom"                                to="odom"/>
      <remap from="move_base_simple/goal"               to="/$(arg tf_prefix)/move_base_simple/goal"/>
    </node>  
<!--     
  </group>
  
  <group unless="$(eval tf_prefix=='')" ns="$(arg tf_prefix)">
    <param name="tf_prefix" value="$(arg tf_prefix)" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load" />
      <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_$(arg model).yaml" command="load" />
        <param name="global_costmap/global_frame" value="$(arg tf_prefix)/map" />
      <param name="global_costmap/robot_base_frame" value="$(arg tf_prefix)/base_link" />
      <param name="local_costmap/global_frame" value="$(arg tf_prefix)/odom" />
      <param name="local_costmap/robot_base_frame" value="$(arg tf_prefix)/base_link" />
        <remap from="cmd_vel" to="$(arg tf_prefix)/cmd_vel"/>
        <remap from="odom" to="$(arg tf_prefix)/odom"/>
      <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
    </node>
  
  </group> -->
  
</launch>